#game {
  position: relative;

  width: 100%;
  height: 80vh;

  background: url("img/dispersion-cendres-espace.png");
  background-size: cover;
  overflow: hidden;
}

#ground {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100vw;
  height: 100px;

  background: url("img/flame.png");
  background-repeat: repeat-x;
  background-size: contain;
}

#player {
  position: absolute;
  bottom: 400px;
  left: 400px;

  width: 100px;
  height: 48px;

  background: url("img/soucoupe-volante-png-2.png");
  background-size: contain;

  transition: 2s;
  transition-timing-function: ease-in;
}

.eagle {
  position: absolute;
  bottom: 100px;
  right: 10px;

  width: 60px;
  height: 60px;

  background: url("img/extra.png");
  background-size: cover;
}

.missile {
  position: center;
  bottom: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  background: url("img/plane.png");
  background-size: cover;
}

h1 {
  text-align: center;
  visibility: hidden;
  position: center;
  color: red;
}
